@import entities.Exam
@import views.html.helper.form
@import forms.QuestionForm
@(exam: Exam, questionForm: play.data.Form[QuestionForm])(implicit messages: play.i18n.Messages)



@main("Beaconn | " + exam.getExamTitle) {

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-3">
                <div class="card grey lighten-5 mb-3" style="max-width: 20rem;">
                    <div class="card-header">@exam.getExamTitle</div>
                    <div class="card-body">
                        <p class="card-text">
                            ID: @exam.getId
                        </p>
                        <p class="card-text">
                            Professor: @exam.getProfessor.getFirstName @exam.getProfessor.getLastName
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row justify-content-end">
                    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addQuestionModal">
                        Add New Question
                    </button>
                </div>
                <div class="row">
                    <table class="table table-hover" style="border-collapse: collapse;">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Question</th>
                                <th scope="col"># of Answers</th>
                            </tr>
                        </thead>
                        <tbody>
                        @if(exam.getQuestions.isEmpty) {
                            <p>No Questions</p>
                        } else {
                            @for(question <- exam.getQuestions) {
                                <tr data-toggle="collapse" data-target="#answerCollapse-@question.getId" class="clickable">
                                    <td scope="row">@question.getId</td>
                                    <td>@question.getQuestionText</td>
                                    <td>@question.getAnswers.size</td>
                                </tr>
                                <tr class="panel-collapse collapse in" id="answerCollapse-@question.getId">
                                    <td colspan="6">
                                        <table class="table table-hover panel-body">
                                            <thead class="blue white-text">
                                                <tr>
                                                    <th scope="col">Id</th>
                                                    <th scope="col">Answer</th>
                                                    <th scope="col">Is Correct</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            @if(question.getAnswers.isEmpty) {
                                                <tr>
                                                    <td colspan="12">No Answers</td>
                                                </tr>
                                            } else {
                                                @for(answer <- question.getAnswers) {
                                                    <tr>
                                                        <td scope="row">@answer.getId</td>
                                                        <td>@answer.getAnswerText</td>
                                                        <td>@answer.getCorrect</td>
                                                    </tr>
                                                }
                                            }
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            }
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addQuestionModal" tabindex="-1" role="dialog" aria-labelledby="addQuestionModalLabel"
    aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Create New Question</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                @form(action = routes.ExamController.addQuestion(exam.getId)) {
                    <div class="modal-body mx-3">
                        <div class="md-form mb-5">
                            <input name="questionText" type="text" id="defaultForm-questionText" class="form-control validate">
                            <label data-error="wrong" data-success="right" for="defaultForm-email">Question Text</label>
                        </div>

                        @helper.repeatWithIndex(questionForm("answers"), min = 4) { (answer, index) =>
                            <div class="row">
                                <div class="col">
                                    @helper.inputText(answer("answerText"), Symbol("_label") -> ("Answer #" + index))

                                </div>
                                <div class="col">
                                    @helper.checkbox(answer("isCorrect"), Symbol("_label") -> ("Is Correct Answer?"))
                                </div>
                            </div>
                        }
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button class="btn btn-default" type="submit">Create</button>
                    </div>
                }
            </div>
        </div>
    </div>
}
